@charset "utf-8";

/**
 * Style Name : Elastic Tango (BitWiki Default CSS)
 * Author     : BitWiki project, kaz6120
 * Version    : 9.8.13
 */

/* CSS DEBUGGER (Comment "IN" to use) */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/


/* INITIALIZE */
* {
    margin: 0;
    padding: 0;
}

/* ANCHORS */
a {
    text-decoration: none;
} a:link {
    color: #669900;
} a:visited {
    color: #9966cc;
} a:active {
} a:hover {
    color: #336600;
    text-decoration: underline;
}

/* BASE */
body {
    font: 0.875em/160% "Trebuchet MS", "Lucida Grande", "Bitstrema Vera Sans", Arial, HiraMaruPro-W4, sans-serif;
}

/* HEADER */
#header {
    height: 60px;
    margin: 0;
    padding: 10px 10px 10px 30px;
    background: url(./images/header-1.png) bottom repeat-x;
    color: #ffffff;
} #header h1 {
    float: left;
    margin-top: 10px;
    font: bold italic 200%/100% Georgia, Times, serif;
    text-shadow: #336600 1px 2px 2px;
} 

#globalmenu {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: right;
    margin: 5px 10px;
    padding: 1px 10px;
    background: #f3f3e4;
    background: url(./images/header-2.png) top repeat-x;
    font-size: 12px;
    /*border: 1px solid #ca8300;*/
    /*border: 1px solid #336600;*/
} #globalmenu ul {
    margin:  5px;
    /*text-shadow: 1px 2px 2px #336600;*/
} #globalmenu li {
    display: inline;
    margin: 8px;
    /*border: 1px solid #336600;*/
} #globalmenu a {
    color: #ffffff;
} #globalmenu a:hover {
    color: #ffff66;
    text-decoration: none;
}

#header div.topicpath
{
    float:left;
    margin: 5px;
    text-align: left;
    font-size: 90%;
}

/* SIDEBAR */
#sidebar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 10px;
    width: 200px;
    padding:15px;
    background: #f3f3e4;
} #sidebar h2 {
    padding: 0 5px;
    border-bottom: 1px solid;
    color: #99CC00;
    font: bold italic 130%/180% Georgia, Times, serif;
    text-align: right;
} #sidebar h3 {
    padding: 0 5px;
    border-bottom: 1px solid;
    color: #99CC00;
    font: bold italic 110%/180% Georgia, Times, serif;
    text-align: right;
} #sidebar ul {
    margin: 1em 0;
    padding-left: 1em;
    line-height: 160%;
    font-size: 95%;
}

#plugin_recent {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #99CC00;
    margin: 10px 0;
    padding:1em;
}

/* PAGE CONTENT */
#pagemenu {
    float: right;
    margin: 30px 0 20px 10px;
    padding: 10px 10px 10px 25px;
    background: #f3f3e4;
    font-size: 12px;
    border: 1px solid #ca8300;
    border-right: none;
} #pagemenu ul {
    margin: 0;
    list-style-type: square;
}


#content
{
    margin: 20px 4px 4px 250px;
    padding: 2em;
} #content .section {
    margin: 0.2em;
} #content h2.title {
    margin: 0 0 20px 0;
    padding-top: 8px;
    border-bottom: 1px solid;
    color: #83ad23;
    color: #ca8300;
    font: bold italic 1.6em/140% Georgia, Times, serif;
} #content h3 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dddddd;
    margin: 0.8em 0;
    border: none !important;
    padding: 5px 10px;
    background: #444444;
    color: #ffffff;
    font: bold normal 1.3em/140% sans-serif;
} #content h3 a {
    color: #ffffff;
    text-decoration: none;
} #content h3 a:hover {
    color: #cccccc;
} #content h4 {
    margin: 5px 5px;
    border-bottom: 1px dotted;
    color: #b97c00;
    font: bold normal 1.2em/140% sans-serif;
} #content h5 {
    margin: 5px 10px;
    font: bold normal 1.1em/120% sans-serif;
} #content h6 {
    margin: 5px 15px;
    font: bold normal 1.0em/120% sans-serif;
} #content p {
    margin: 1em;
} #content ul,
  #content ol {
    margin: 1em;
    padding: 0 0 0 2em;
    line-height: 1.8em;
}


div.floatbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: right;
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #D66801;
    background: #ffffee;
    font-size: 90%;
}

div.option
{
    margin: 0.5em 0px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    font-size: 90%;
}

/* FOOTER */
#footer
{
    /*border-top: 1px solid #99cc00;*/
    border-top: 1px solid #dddddd;
    margin: 4em 8px 8px 280px;
    padding: 8px;
    color: #808080;
    text-align: right;
}

textarea {
    width: 85%;
}

pre {
    margin: 0.5em 2em;
    padding: 8px;
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
}

blockquote
{
    margin: 0.5em 2em;
    padding: 2px 8px;
    border: 1px solid #dddddd;
    border-left: 15px solid #dddddd;
}

/* LIST */
#content ul li {
    list-style-image: url(./images/list-marker-level-1.png);
} #content ul>li ul>li,
  #content  ol>li ul>li {
    list-style-image: url(./images/list-marker-level-2.png);
} #content  ol>li {
    list-style-image: none;
}

/* DEFINITION LIST */
dl {
    margin: 10px;
} dt {
    margin: 10px 0 5px 0;
    font-weight: bold;
} dd {
    margin: 5px 0 5px 20px;
}

/* HORIZONTAL RULE */
hr {
    clear: both;
    height: 1px;
    margin: 1em;
    border: 0px;
    background-color: #cccccc;
    color: #cccccc;
}

/*
  ---------------------------------------------
    TABLES
  ---------------------------------------------
*/

table {
    border: 1px solid #4a4a4a;
    margin: 1em 0;
    border-collapse: collapse;
} th {
    padding: 5px 7px;
    border: 1px solid #4a4a4a;
    background: #222222;
    color: white;
} td {
    padding: 5px 7px;
}

/*
  ---------------------------------------------
    FORMS
  ---------------------------------------------
*/
fieldset {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 70%;
    margin: 1em;
    border: 1px solid #dddddd;
    padding: 0.5em 1em;
} legend {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 5px 15px;
}


