span.sanchor {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

hr {
}

pre {
}

blockquote {
}

ul {
}

ol {
}

dl {
}

dd {
}

table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
}

tr {
    border-style: solid;
    border-width: 1px;
}

td {
    border-style: solid;
    border-width: 1px;
    padding: 0.2em;
}

th {
    border-style: solid;
    border-width: 1px;
    padding: 0.2em;
}


a.externallink {
    margin: 0 3px;
    padding-left: 14px;
    background: url("external.png") no-repeat 0 50%;
}

a.maillink {
    padding-left: 12px;
    background-image: url("mail.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

a.interwiki {
}

span.nointerwikiname {
    background-color: #FFFACC;
}

a.noexistpage {
    background-color: #FFFACC;
}

em {
}

strong {
}

a.fuzzylink {
}

a.footnote {
    font-size: 50%;
    vertical-align: text-top;
}

div.footnote {
}
